---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  bugprone-*,
  -bugprone-reserved-identifier,
  cert-flp30-c,
  cert-mem57-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
...
